<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Basic1_IUploadFile" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://177.71.195.3/uploadfile/UploadFile.svc"
                binding="basicHttpBinding" bindingConfiguration="Basic1_IUploadFile"
                contract="ServiceReference1.IUploadFile" name="Basic1_IUploadFile" />
        </client>
    </system.serviceModel>
</configuration>