<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="Data Source=54.207.26.71;Initial Catalog=DOT_LEITOR;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=$keeptrue10;Connect Timeout=120"/>
  </appSettings>  
</configuration>